/* This makes the right-resizer bug "disappear" (when it becomes 42px high like purplerain's).. at least if there's no window shadow on it. */
#miniplayer {
  background-color: transparent !important;
}
#faceplate:hover progressmeter.sb-player-seek-slider > .progress-bar {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/tip-hover.png');
}

#faceplate:hover progressmeter.sb-player-seek-slider {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/done-hover.png');
}

#miniplayer progressmeter.sb-player-seek-slider
{
  margin: 0px !important;
  padding: 0px !important;
  
  min-height: 0;
  max-height: none;

  background-image:url('chrome://gonzo-2/skin/mini-player-original/done.png');
  background-repeat:repeat-x;
  background-position:center 0px;
}
#miniplayer progressmeter.sb-player-seek-slider > .progress-remainder
{
  background-image:url('chrome://gonzo-2/skin/mini-player-original/remaining.png');
  background-repeat:repeat-x;
  background-position:center 0px;
}
#miniplayer progressmeter.sb-player-seek-slider > .progress-bar
{
  min-width:0px !important;

  background-image:url('chrome://gonzo-2/skin/mini-player-original/tip.png');
  background-repeat:no-repeat;
  background-position:right center !important;
}



/*play&pause*/
#miniplayer .sb-player-play-button-play > button,
#miniplayer .sb-player-playpause-button-play > button,
#miniplayer .sb-player-pause-button-pause > button,
#miniplayer .sb-player-playpause-button-pause > button {  
  list-style-image: url(chrome://gonzo-2/skin/mini-player-original/play-pause.png); 
  background-image:none !important;
  background-color:transparent !important;
}

/* I took care of the next/prev buttons bug in gonzo-2 */
#miniplayer sb-player-back-button {
  list-style-image: url(chrome://gonzo-2/skin/mini-player-original/previous.png); 
  padding:0px !important;
  margin:0px !important;
}
#miniplayer sb-player-forward-button {
  list-style-image: url(chrome://gonzo-2/skin/mini-player-original/next.png); 
  padding:0px !important;
  margin:0px !important;
}
#miniplayer sb-player-back-button,
#miniplayer sb-player-forward-button {
  -moz-image-region: rect(0px 26px 22px 0px);
}
#miniplayer sb-player-back-button:hover,
#miniplayer sb-player-forward-button:hover { 
  -moz-image-region: rect(22px 26px 44px 0px);
}
#miniplayer sb-player-back-button:active,
#miniplayer sb-player-forward-button:active { 
  -moz-image-region: rect(44px 26px 66px 0px);
}
#miniplayer sb-player-back-button[disabled="true"],
#miniplayer sb-player-forward-button[disabled="true"] { 
  -moz-image-region: rect(66px 26px 88px 0px);
}

#miniplayer .sb-player-volume-slider[sbid="sb-progress-slider-min"] {
  list-style-image: url(chrome://gonzo-2/skin/mini-player-original/min-vol.png);
}
#miniplayer .sb-player-volume-slider[sbid="sb-progress-slider-max"] {
  list-style-image: url(chrome://gonzo-2/skin/mini-player-original/max-vol.png);
}


#miniplayer progressmeter.sb-player-volume-slider > .progress-bar,
#miniplayer progressmeter.sb-player-volume-slider > .progress-remainder {
  background-image: url(chrome://gonzo-2/skin/mini-player-original/vol.png); 
}
#faceplate.mini > stack {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/faceplate.png');
  background-repeat:repeat-x;
  background-position:center 0px;
}

#faceplate.mini > stack > .hook > .left {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/face-l.png');
  background-repeat:no-repeat;
  background-position:left center !important;
}
#faceplate.mini > stack > .hook > .right {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/face-r.png');
  background-repeat:no-repeat;
  background-position:right center !important;
}

#faceplate-tool > .hook {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/faceplate.png');
  min-height:22px;
}
#faceplate-tool > .hook > .left {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/face-l.png');
  background-repeat:no-repeat;
  background-position:left center !important;
}
#faceplate-tool > .hook > .right {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/face-r.png');
  background-repeat:no-repeat;
  background-position:right center !important;
}

#miniplayer_box > .hook {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/bg.png');
  background-repeat:repeat-x;
  background-position:center 0px;
  min-height:22px;
}
#miniplayer_box > .hook > .left {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/l.png');
  background-repeat:no-repeat;
  background-position:center center;
}
#miniplayer_box > .hook > .right {
  background-image:url('chrome://gonzo-2/skin/mini-player-original/r.png');
  background-repeat:no-repeat;
  background-position:center center;
}


#miniplayer sb-sys-close-button.mini {
  list-style-image: url('chrome://gonzo-2/skin/mini-player-original/button-close.png');
  -moz-image-region: rect(0px 12px 12px 0px);
  margin-left:8px !important;
}
#miniplayer sb-sys-close-button:hover {
  -moz-image-region: rect(12px 12px 24px 0px);
}
#miniplayer sb-sys-close-button:active {
  -moz-image-region: rect(24px 12px 36px 0px);
}
#miniplayer sb-sys-close-button[disabled="true"] {
  -moz-image-region: rect(36px 12px 48px 0px) !important;
}
